.session_wrapper
  .single_container.nomargin
    .single_header
      %a{:href => "/"}
        %img.single_header__img{:height => "49", :src => "/fmarket_logo_red.svg", :width => "185"}/
    .session__main
      .session__main__container
        .session__main__container__regist
          %p アカウントをお持ちでない方はこちら
          = link_to new_user_session_path, class: "btn_regist" do
            新規会員登録
        .session__main__container__box
          = link_to new_user_registration_path, class: "btn_default btn_facebook" do
            %i.fab.fa-facebook-square.icon_facebook>
            Facebookでログイン
          = link_to new_user_registration_path, class: "btn_default btn_google" do
            %i.fab.fa-google.icon_google>
            Googleでログイン
        %form.login__form
          %input.form_text{:placeholder => "メールアドレス", :type => "text"}/
          %input.form_text{:placeholder => "パスワード", :type => "text"}/
        .session__main__container__btn
          = link_to root_path, class: "btn_login" do
            ログイン
          %a.forget_password{:href => "#"} パスワードをお忘れの方はこちら
    %footer.single__footer
      %nav
        %ul
          %li
            = link_to "プライバシーポリシー","#"
          %li
            = link_to "メルカリ利用規約","#"
          %li
            = link_to "特定商取引に関する表記","#"
      = link_to image_tag("/logo_gray.svg", size: "80x65",class: "single__footer__img"), root_path
      %p © team.F
