.session_wrapper
  .signup__header
    %h1.signup__header__logo
      %a{href: "/"}
        %img{height: "49px", src: "/fmarket_logo_red.svg", width: "185px"}/
    %nav#nav.progress-bar.signup__header__bar
      %ol
        %li.active
          会員情報
          .progress-status__first.active
        %li
          電話番号認証
          .progress-status
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status__last
  .session_wrapper
    .single_container
      .session__main
        .session__main__container
          %h2.session__main__container__title 会員情報入力
          = form_for @user, url: step2_signup_index_path, method: :get, html:{class: 'session__main__container__box'} do |f|
            .session__main__container__formGroup
              %label{for: "nickname"}
                ニックネーム
                %span.form__require 必須
              = f.text_field :nickname, placeholder: '例) メルカリ太郎', class: 'input__default'
            .session__main__container__formGroup
              %label{for: "email"}
                メールアドレス
                %span.form__require 必須
              = f.text_field :email, placeholder: 'PC・スマホ可', class: 'input__default'
            .session__main__container__formGroup
              %label{for: "password"}
                パスワード
                %span.form__require 必須
              = f.text_field :password, placeholder: "7文字以上の半角英数字", class: 'input__default'
              %p.form__info__text ※  英字と数字の両方を含めて設定してください
              .checkbox__default
                %input{type: "checkbox"}/
                %label{for: "reveal_password"} パスワードを表示する
            .session__main__container__formGroup
              %h3 本人確認
              %p.formGroup__text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .session__main__container__formGroup
              %label{for: "nickname"}
                お名前（全角）
                %span.form__require 必須
              .session__main__container__formGroup__sub
                = f.text_field :last_name, placeholder: "例）孫", class: 'input__default half'
                = f.text_field :first_name, placeholder: "例）悟空", class: 'input__default half'
            .session__main__container__formGroup
              %label{for: "nickname"}
                お名前カナ（全角）
                %span.form__require 必須
              .session__main__container__formGroup__sub
                = f.text_field :last_name_kana, placeholder: "例）ソン", class: 'input__default half'
                = f.text_field :first_name_kana, placeholder: "例）ゴクウ", class: 'input__default half'
            .session__main__container__formGroup
              %label{for: "nickname"}
                生年月日
                %span.form__require 必須
              .session__main__container__formGroup__sub
                != sprintf(f.date_select(:birthday,prefix:'birthday', with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

                %i.fas.fa-chevron-down.select_arrow1
                %i.fas.fa-chevron-down.select_arrow2
                %i.fas.fa-chevron-down.select_arrow3

              %p.form__info__text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
              .session__main__container__formGroup
                %p.formGroup__text__center
                  「次へ進む」のボタンを押すことにより、
                  \#{link_to"利用規約",root_path}に同意したものとみなします
              .session__main__container__formGroup
                = f.submit "次へ進め", class: "btn_default btn_mail"
