.session_wrapper
  .signup__header
    %h1.signup__header__logo
    = link_to image_tag("/fmarket_logo_red.svg", size: "185x49"), root_path
    %nav#nav.progress-bar.signup__header__bar
      %ol
        %li
          会員情報
          .progress-status__first.active.let_active
        %li
          電話番号認証
          .progress-status.active.let_active
        %li.active
          お届け先住所入力
          .progress-status.active
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status__last
  .session_wrapper
    .single_container
      .session__main
        .session__main__container
          %h2.session__main__container__title お届け先住所入力
          = form_for @user, url: step4_signup_index_path, method: :get, html:{class: 'session__main__container__box'} do |f|
            = f.fields_for :address do |b|
              .session__main__container__formGroup
                %label{for: "zip_code"}
                  郵便番号
                  %span.form__require 必須
                = b.text_field :zip_code, placeholder: '例) 123-1234', class: 'input__default'
              .session__main__container__formGroup
                %label{for: "nickname"}
                  都道府県
                  %span.form__require 必須
                = b.collection_select :prefecture_id, Prefecture.all, :id, :name,{},{class: "select__wap"}
              .session__main__container__formGroup
                %label{for: "city"}
                  市区町村
                  %span.form__require 必須
                = b.text_field :city, placeholder: '例) 大阪市中央区', class: 'input__default'
              .session__main__container__formGroup
                %label{for: "block"}
                  番地
                  %span.form__require 必須
                = b.text_field :block, placeholder: '例) 難波1-1-1', class: 'input__default'
              .session__main__container__formGroup
                %label{for: "building"}
                  ビルディング
                  %span.form__any 任意
                = b.text_field :building, placeholder: '例) なんばスカイオ15F101', class: 'input__default'
              .session__main__container__formGroup
                %label{for: "building"}
                  電話
                  %span.form__any 任意
                = b.text_field :phone_number, placeholder: '例) 09012341234', class: 'input__default'
            .session__main__container__formGroup
              = f.submit "次へ進め", class: "btn_default btn_mail"
