<<<<<<< Updated upstream
%body
  .session_wrapper
    .single_container
      .single_header
        = link_to '', "#"
        = image_tag "/fmarket_logo_red.svg", size: "185x49", class: "single_header__img"
      .session__main
        .session__main__container
          %h2.session__main__container__title 新規会員登録
          .session__main__container__box
            = link_to step1_signup_index_path, class: "btn_default btn_mail" do
              %i.far.fa-envelope.icon_mail
              メールアドレスで登録する
            = link_to new_user_registration_path, class: "btn_default btn_facebook" do
              %i.fab.fa-facebook-square.icon_facebook
              Facebookで登録する
            = link_to new_user_registration_path, class: "btn_default btn_google" do
              %i.fab.fa-google.icon_google
              Googleで登録する
      %footer.single__footer
        %nav
          %ul
            %li
              = link_to 'プライバシーポリシー', "#"
            %li
              = link_to 'メルカリ利用規約', "#"
            %li
              = link_to '特定商取引に関する表記', "#"
        = link_to '', "/"
        = image_tag "/logo_gray.svg", size: "80x65", class: "single__footer__img"
        %p © team.F
=======
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FMarketF
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/aacf386ed8.js"}
  %body
    .session_wrapper
      .single_container.nomargin
        .single_header
          %a{:href => "/"}
            %img.single_header__img{:height => "49", :src => "/fmarket_logo_red.svg", :width => "185"}/
        .session__main
          .session__main__container
            .session__main__container__regist
              %p アカウントをお持ちでない方はこちら
              = link_to new_user_session_path, class: "btn_regist" do
                新規会員登録
            .session__main__container__box
              = link_to new_user_registration_path, class: "btn_default btn_facebook" do
                %i.fab.fa-facebook-square.icon_facebook>
                Facebookでログイン
              = link_to new_user_registration_path, class: "btn_default btn_google" do
                %i.fab.fa-google.icon_google>
                Googleでログイン
            %form.login__form
              %input.form_text{:placeholder => "メールアドレス", :type => "text"}/
              %input.form_text{:placeholder => "パスワード", :type => "text"}/
            .session__main__container__btn
              = link_to root_path, class: "btn_login" do
                ログイン
              = link_to "パスワードをお忘れの方はこちら", new_password_path(resource_name), class: "forget_password"
        %footer.single__footer
          %nav
            %ul
              %li
                %a{:href => "#"} プライバシーポリシー
              %li
                %a{:href => "#"} メルカリ利用規約
              %li
                %a{:href => "#"} 特定商取引に関する表記
          %a{:href => "/"}
            %img.single__footer__img{:height => "65px", :src => "/logo_gray.svg", :width => "80px"}/
          %p © team.F
>>>>>>> Stashed changes
