<!DOCTYPE html>
<html>
  <head>
    <title>FMarketF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/aacf386ed8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="session_wrapper">
      <div class="single_container">
        <div class="single_header">
          <a href="/"><img class="single_header__img" src="fmarket_logo_red.svg" width="185" height="49"></a>
        </div>
        <div class="session__main">
          <div class="session__main__container">
            <h2 class="session__main__container__title">新規会員登録</h2>
            <div class="session__main__container__box">
              <%= link_to new_user_registration_path, class: "btn_default btn_mail" do %>
                <i class="far fa-envelope icon_mail"></i>メールアドレスで登録する
              <% end %>
              <%= link_to new_user_registration_path, class: "btn_default btn_facebook" do %>
                <i class="fab fa-facebook-square icon_facebook"></i>Facebookで登録する
              <% end %>
              <%= link_to new_user_registration_path, class: "btn_default btn_google" do %>
                <i class="fab fa-google icon_google"></i>Googleで登録する
              <% end %>
            </div>
          </div>
        </div>
        <footer class="single__footer">
          <nav>
            <ul>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">メルカリ利用規約</a></li>
              <li><a href="#">特定商取引に関する表記</a></li>
            </ul>
          </nav>
          <a href="/"><img class="single__footer__img" src="logo_gray.svg" width="80px" height="65px"></a>
          <p>&copy; team.F</p>
        </footer>
      </div>
    </div>
  </body>
</html>
