.user__details
  .user__details__top
    = link_to root_path do
      .user__details__top__icon
        = image_tag "/myicon.png", size: "150x150", id: "my_icon2"
      .user__details__top__name
        nikoniko
    .user__details__top__number
      評価:0 出品数:0
  .user__details__center
    .user__details__center__head
      .user__details__center__head__icon
        = icon 'fas', 'laugh', class: 'item-seller__ratings__icon--laugh'
        %span 0
      .user__details__center__head__icon
        = icon 'fas', 'meh', class: 'item-seller__ratings__icon--meh'
        %span 0
      .user__details__center__head__icon
        = icon 'fas', 'frown', class: 'item-seller__ratings__icon--frown'
        %span 0
    .user__details__center__comment
  .user__details__bottom
    .user__details__bottom__links
      .user__details__bottom__links__f
      .user__details__bottom__links__t
      .user__details__bottom__links__l
