%body
  .session_wrapper
    .single_container
      .single_header
        = link_to '', "#"
        = image_tag "/fmarket_logo_red.svg", size: "185x49", class: "single_header__img"
      .session__main
        .session__main__container
          %h2.session__main__container__title 新規会員登録
          .session__main__container__box
            = link_to step1_signup_index_path, class: "btn_default btn_mail" do
              %i.far.fa-envelope.icon_mail
              メールアドレスで登録する
            = link_to new_user_registration_path, class: "btn_default btn_facebook" do
              %i.fab.fa-facebook-square.icon_facebook
              Facebookで登録する
            = link_to new_user_registration_path, class: "btn_default btn_google" do
              %i.fab.fa-google.icon_google
              Googleで登録する
      %footer.single__footer
        %nav
          %ul
            %li
              = link_to 'プライバシーポリシー', "#"
            %li
              = link_to 'メルカリ利用規約', "#"
            %li
              = link_to '特定商取引に関する表記', "#"
        = link_to '', "/"
        = image_tag "/logo_gray.svg", size: "80x65", class: "single__footer__img"
        %p © team.F
