%body
  .sell
    .sell__header
    = link_to '', "#"
      = image_tag "/fmarket_logo_red.svg", size: "185x49", class: "single_header__img"
    .sell__main
      .sell__main__box
        .sell__main__box__title
          商品情報の入力
        .sell__main__box__upload
          .sell__main__box__upload__header
            出品画像
            %span{id:"span"}必須
            %p{id:"p"} 最大10枚までアップロードできます
          .sell__main__box__upload__box
            %input.sell__main__box__upload__pic{name: "file",  type: "file", value:"",style:"display:none;"}/
            %pre{id:"pc"}
              = preserve "ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード"
        .sell__main__box__form 
          .sell__main__box__form__group
            商品名
            %span{id:"span"}必須
            %input.sell__main__box__form__group__1{name: "name", placeholder:"商品名(必須４０文字まで)", type: "name", value:""}/
          .sell__main__box__form__group
            商品の説明
            %span{id:"span"}必須
            %textarea{class:"sell__main__box__form__group__textarea",rows:5,placeholder:"商品の説明(必須1000文字以内)"}
        .sell__main__box__status
          商品の詳細
          .sell__main__box__status__box
            .sell__main__box__status__box__group
              カテゴリー
              %span{id:"span"}必須
              %select{class: "sell__main__box__status__box__group__1"}
                %option{value: "0"}  --
                %option{value: "1"} メンズ
                %option{value: "2"} レディース
                %option{value: "3"} ベビー・キッズ
                %option{value: "4"} インテリア・住まい・子供
            .sell__main__box__status__box__group
              商品の状態
              %span{id:"span"}必須
              %select{class: "sell__main__box__status__box__group__1"}
                %option{value: "0"}  --
                %option{value: "1"} 新品、未使用
                %option{value: "2"} 未使用に近い
                %option{value: "3"} 目立った傷や汚れなし
                %option{value: "4"} 傷や汚れあり
                %option{value: "5"} 全体的に状態が悪い
        .sell__main__box__status
          配送について
          .sell__main__box__status__box
            .sell__main__box__status__box__group
              配送料の負担
              %span{id:"span"}必須
              %select{class: "sell__main__box__status__box__group__1"}
                %option{value: "0"}  --
                %option{value: "1"} 送料込み（出品者負担）
                %option{value: "2"} 着払い（購入者負担）
            .sell__main__box__status__box__group
              発送元地域
              %span{id:"span"}必須
              %select{class: "sell__main__box__status__box__group__1"}
                %option{value: "0"}  --
                %option{value: "1"} 青森
                %option{value: "2"} 北海道
                %option{value: "3"} 秋田
                %option{value: "4"} 宮城
            .sell__main__box__status__box__group
              発送までの日数
              %span{id:"span"}必須
              %select{class: "sell__main__box__status__box__group__1"}
                %option{value: "0"}  --
                %option{value: "1"} １〜２日で発送
                %option{value: "2"} ２〜３日で発送
                %option{value: "3"} ４〜７日で発送
        .sell__main__box__price
          販売価格(300~9.999,999)
          %span
          = link_to '?', '#',class:"sell__main__box__price__atag"
          .sell__main__box__price__box
            .sell__main__box__price__box__group
              .sell__main__box__price__box__group__left
                価格
                %span{id:"price"}必須
              .sell__main__box__price__box__group__right
                ¥
                %input.sell__main__box__price__box__group__right__1{name: "price", placeholder:"例) 300", type: "price", value:""}/
            .sell__main__box__price__box__tax
              販売手数料(10%)
              .sell__main__box__price__box__tax__1
                300円
            .sell__main__box__price__box__profit
              販売利益
              .sell__main__box__price__box__profit__1
                4700円
        .sell__main__box__header
          %p
            = link_to '禁止されている出品', '#',class:"sell__main__box__header__atag"
            、
            = link_to '行為', '#',class:"sell__main__box__header__atag"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to '偽ブランドの販売', '#',class:"sell__main__box__header__atag"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to '加盟店規約', '#',class:"sell__main__box__header__atag"
            に同意したことになります。
          %button.btn{type:"submit",class:"sell__main__box__header__btn"} 出品する
          %button.btn{type:"submit",class:"sell__main__box__header__btn1"} 戻る
    .sell__main__footer
      .sell__main__footer__box
        %ul{id:"ul"}
          = link_to "プライバシーポリシー","#",class:"sell__main__footer__box__atag"
          = link_to "メルカリ利用規約","#",class:"sell__main__footer__box__atag"
          = link_to "特定商取引に関する表記","#",class:"sell__main__footer__box__atag"
        = link_to '', "/", id:"atag"
        = image_tag "/fmarket_logo_red.svg", size: "185x49", class: "single_header__img"
        %p{id:"p"} ©Meruari,Inc
