- breadcrumb :item
.bread
  .bread__name
    = breadcrumbs 
.item-details-body
  .item-details
    %h1.item-details__name
      = @item.name
    .item-details__content
      .item-details__content__left
        %ul.item-details__content__left__main
          - @images.each do |image|
            %li.item-details__content__left__main__image
              %figure#top_img
                = image_tag "#{image.image_url}", size: "300x300"
        %ul.item-details__content__left__list
          - @images.each do |image|
            %li.item-details__content__left__list__image
              %figure#list_img
                = image_tag "#{image.image_url}", size: "60x60"
      %table.item-details__content__right
        %tbody
          %tr
            %th 出品者
            %td
              = link_to '#', class: "item-seller__name" do
                = @user.nickname
              .item-seller__ratings
                .item-seller__ratings__box
                  = icon 'fas', 'laugh', class: 'item-seller__ratings__icon--laugh facial__expression2'
                  %span 0
                .item-seller__ratings__box
                  = icon 'fas', 'meh', class: 'item-seller__ratings__icon--meh facial__expression2'
                  %span 0
                .item-seller__ratings__box
                  = icon 'fas', 'frown', class: 'item-seller__ratings__icon--frown facial__expression2'
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to '#', class: 'item-details__category' do
                メンズ
          %tr
            %th ブランド
            %td
              = link_to '#', class: 'item-details__brand' do
                = @item.brand
          %tr
            %th 商品のサイズ
            %td M
          %tr
            %th 商品の状態
            %td 
              = @item.condition
          %tr
            %th 配送料の負担
            %td 
              = @item. fee_burden
          %tr
            %th 配送の方法
            %td 
              = @item.service
          %tr
            %th 配送元地域
            %td
              = link_to '#', class: 'item-details__area' do
                = @item.prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.handing_time

    .item-details__price-box
      %span.item-details__price-box--price
        = converting_to_jpy(@item.price)
      %span.item-details__price-box--tax (税込)
      %span.item-details__price-box--shipping-fee 送料込み
    -if user_signed_in? && current_user.id == @item.seller_user_id
      = link_to item_path(@item), method: :delete, class: "item-details__buy-btn" do
        この商品を削除する
      
      = link_to edit_item_path(@item), class: "item-details__buy-btn" do
        この商品を編集する

    -else
      = link_to item_purchase_index_path(@item), class: "item-details__buy-btn" do
        購入画面に進む

    .item-details__text
      .item-details__text__inner
        = simple_format(@item.text)

    .item-details__btn
      .item-details__btn__left
        = link_to '#', class: 'item-details__btn__left__1' do
          = icon 'far', 'heart', class: 'item-details__btn__left__1__font, item-details__btn__left__1__icon'
          %span.item-details__btn__left__1__font.item-details__btn__left__1__text いいね!
          %span.item-details__btn__left__1__font 0

        = link_to '#', class: 'item-details__btn__left__2' do
          = icon 'far', 'flag', class: 'item-details__btn__left__2__font, item-details__btn__left__2__icon'
          %span.item-details__btn__left__2__font 不適切な商品の報告

      .item-details__btn__right
        = link_to '#' do
          = icon 'fas', 'lock', class: 'item-details__btn__right__font, item-details__btn__right__icon'
          %span.item-details__btn__right__font あんしん・あんぜんへの取り組み

  .item-message
    .item-message__container
      .item-message__content
        %p.item-message__content__attention 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type: 'text', class: 'item-message__content__textarea'} 
        %input{type: 'submit', value: 'コメントする', class: 'item-message__content__submit'}

  %ul.item-link-nav
    %li.item-link-nav__prev
      = link_to '#' do
        = icon 'fas', 'chevron-left', class: 'item-link-nav__prev__font, item-link-nav__prev__icon'
        %span.item-link-nav__prev__font 前の商品
    %li.item-link-nav__next
      = link_to '#' do
        %span.item-link-nav__next__font 次の商品
        = icon 'fas', 'chevron-right', class: 'item-link-nav__next__font, item-link-nav__next__icon'

  .item-link-sns
    .item-link-sns__box
      %ul.item-link-sns__list
        %li
          = link_to '#' do
            = icon 'fab', 'facebook-square', class: 'item-link-sns__icon, item-link-sns__icon--facebook'
        %li
          = link_to '#' do
            =icon 'fab', 'twitter-square', class: 'item-link-sns__icon, item-link-sns__icon--twitter'
        %li
          = link_to '#' do
            = icon 'fab', 'pinterest-square', class: 'item-link-sns__icon, item-link-sns__icon--pinterest'

  .another-items
    %h2.another-items__head
      = link_to '#', class: 'another-items__head__title' do
        aaaさんのその他の出品
    .another-items__content
      - @items.each do |item|
        .another-items__content__box
          = link_to item_path(item) do
            .another-items__content__box__image
              = image_tag "#{item.images.first}"

            .another-items__content__box__text
              %h3.another-items__name
                = item.name
              .another-items__info
                .another-items__info__price
                  = converting_to_jpy(item.price)
                .another-items__info__like
                  = icon 'far', 'heart', class: 'another-items__info__like__icon'
                  %span.another-items__info__like__num 0

  .item-bottom-nav
    %ul.item-bottom-nav__box
      %li
        = link_to root_path, class: 'item-bottom-nav__top-path' do
          エフマケ
        = icon 'fas', 'chevron-right', class: 'item-bottom-nav__icon'

      %li.item-bottom-nav__link
        %span 
          = @item.name