.footerWrapper
  .footer
    .footer__upper
      .footer__upper_1
        .footer__upper__1__list
          %ul
            %li.footer__upper__1__list__title エフマケについて
            %li
              = link_to "会社概要","#"
            %li
              = link_to "採用情報","#"
            %li
              = link_to "プレスリリース","#"
            %li
              = link_to "公式ブログ","#"
            %li
              = link_to "エフマケロゴ利用ガイドライン","#"
        .footer__upper__1__icons
          %i.fab.fa-twitter
          %i.fab.fa-facebook-square
      .footer__upper__2
        %ul
          %li.footer__upper__1__list__title ヘルプ&amp;ガイド
          %li
            = link_to "エフマケガイド","#"
          %li
            = link_to "らくらくエフマケ便","#"
          %li
            = link_to "ゆうゆうエフマケ便","#"
          %li
            = link_to "大型エフマケ便","#"
          %li
            = link_to "車体取引ガイド","#"
          %li
            = link_to "エフマケあんしん・あんぜん宣言！","#"
          %li
            = link_to "偽ブランド品撲滅への取り組み","#"
          %li
            = link_to "エフマケボックス","#"
      .footer__upper__3
        .footer__upper__1__list__title プライバシーと利用規約
        .footer__upper__3__box
          .footer__upper__3__box__left
            %ul
              %li
                = link_to "プライバシーポリシー","#"
              %li
                = link_to "エフマケ利用規約","#"
              %li
                = link_to "あんしんスマホサポート制度に関する利用規約","#"
              %li
                = link_to "コンプライアンスポリシー","#"
          .footer__upper__3__box__right
            %ul
              %li
                = link_to "個人データの安全管理に係る基本方針","#"
              %li
                = link_to "特定商取引に関する表記","#"
              %li
                = link_to "資金決済法に基づく表示","#"
              %li
                = link_to "法令遵守と犯罪防止のために","#"
      .footer__upper__4
        %ul
          %li.footer__upper__1__list__title 国
          %li
            = link_to "日本","#"
          %li
            = link_to "United States","#"
    .footer__bottom
      .footer__bottom__logo
        = link_to image_tag("/fmarket_logo_red.svg", size: "124x34"), root_path
      .footer__bottom__copy.footer
        %p © Fmake, Inc.
      .footer__bottom__null
