.headWrapper
  .header
    .header__upperBox
      .header__upperBox__logo
        = link_to image_tag("/fmarket_logo_red.svg", size: "134x36"), root_path
      .header__upperBox__search
        %form.header__upperBox__search
          %input.header__upperBox__search__form{placeholder: "何かお探しですか？", type: "text"}/
    .header__bottomBox
      .header__bottomBox__left
        .header__bottomBox__left__category
          = link_to '', "/"
          %i.fas.fa-list-ul
          全ての商品一覧
        .header__bottomBox__left__brand
      .header__bottomBox__right
        %ul.header__bottomBox__right__nav
          - if user_signed_in?
            %li.header__bottomBox__right__nav__list.good
              = link_to 'いいね！一覧', "/"
            %li.header__bottomBox__right__nav__list.info
              = link_to 'お知らせ', "#"
            %li.header__bottomBox__right__nav__list.todo
              = link_to 'やることリスト', "#"
            %li.header__bottomBox__right__nav__list
              = link_to 'マイページ', "/mypage"
          - else
            %li.header__bottomBox__right__nav__list
              = link_to "新規会員登録", registration_path, class: "nav_btn_red"
            %li.header__bottomBox__right__nav__list
              = link_to "ログイン", new_user_session_path, class: "nav_btn_blue"
            %li.header__bottomBox__right__nav__list
              = link_to 'マイページ', "/mypage", class: "aaa"

