<!DOCTYPE html>
<html>
  <head>
    <title>FMarketF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.14.2/d3.min.js"></script>
    <script src="https://kit.fontawesome.com/aacf386ed8.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  <%= render partial: 'signfooter' %>
  </div>
  </body>
</html>