!!!
%html
  %head
    %title FMarketF
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://ajax.googleapis.com/ajax/libs/d3js/5.14.2/d3.min.js"}
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/aacf386ed8.js"}
  %body
    = yield
    = render partial: 'signfooter'
